Repository securesign/secure-sign-operator, pull requests merged in 2025-09, with the labels that each got.

#1300 test: fix proxy deployment service
  .github/workflows/main.yml
  test/e2e/custom_install/proxy_test.go
  test/e2e/custom_install/testdata/proxy.yaml
Labels: test

#1298 ci: add common HA install test
  .github/workflows/main.yml
  test/e2e/high_avalability/common_ha_install_test.go
  test/e2e/high_avalability/ha_suite_test.go
  test/e2e/support/kubernetes/endpoint.go
  test/e2e/support/kubernetes/ha.go
  test/e2e/support/kubernetes/leader.go
  test/e2e/support/kubernetes/pod.go
  test/e2e/support/tas/securesign/securesign.go
Labels: test

#1321 :robot: [RHTAS-build-bot] [main] Update Component images
  config/default/images.env
Labels: Review effort 1/5

#1318 test: rekor-monitor base test
  test/e2e/rekor_monitor_test.go
  trigger-konflux-builds.txt
Labels: test, Review effort 2/5

#1325 test: Rekor monitor log test
  test/e2e/rekor_monitor_log_test.go
  test/e2e/support/kubernetes/pod.go
  test/e2e/support/tas/rekor/monitor.go
Labels: test, Review effort 3/5, Possible security concern

#1338 fix(tsa): handle nil pointer when NTP monitoring config is not set
  internal/controller/tsa/actions/deployment.go
  internal/controller/tsa/actions/ntpMonitoring.go
  internal/controller/tsa/actions/ntpMonitoring_test.go
Labels: bug, Review effort 3/5

#1356 Set request size limits in TSA
  api/v1alpha1/timestampauthority_types.go
  api/v1alpha1/timestampauthority_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/rhtas.redhat.com_securesigns.yaml
  config/crd/bases/rhtas.redhat.com_timestampauthorities.yaml
  internal/controller/rekor/actions/server/generate_signer.go
  internal/controller/tsa/actions/deployment.go
Labels: Review effort 2/5

#1342 test: Adding Prometheus Test
  test/e2e/rekor_monitor_log_test.go
  test/e2e/support/tas/rekor/monitor.go
  trigger-konflux-builds.txt
Labels: test, Review effort 2/5
